*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: montserrat;
}

body{
    background:rgb(15, 15, 15);
}

.middle{
    position:absolute;
    top:20px;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
}


.hard{
    cursor: pointer;
    width:340px;
    height: 480px;
}

.front,.back{
    width:100%;
    height:100%; 
    overflow:hidden;
    backface-visibility:hidden;
    position:absolute;
    border-radius: 50px;
    transition: transform .6s linear;
}

.front{
    background:url(/images/bofas-beauty.jpg) no-repeat 0 -400px;

    text-align:center;
    background-position: center;
    height:100%;
}

.font{
    transform:perspective(600px) rotateY(0deg)
}

.back{
    background:gold;
    transform:perspective(600px) rotateY(180deg)
}

.st{
    text-align: center;
    justify-content: space-between;
    position: relative;
    left: 10px;
}

.back-content{
    line-height:30px;
    text-align: center;
    z-index: 0;
}

a{
    margin:10px;
    font-weight: 700;
}

a:hover{
    padding:5px;
    background:#262626;
    border-radius:10px;
    color:rgb(255, 217, 0)
}

.hard:hover l> .front{
    transform:perspective(600px) rotateY(-180deg);
}

.hard:hover >.back{
    transform:perspective(600px) rotateY(0deg);
}


